.flexSideNCards {
  display: flex;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 20px;
  top: 60px;
}

.allCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 270px;
  overflow-y: auto;
}

.addSneakersButton {
  /* width: 400px; */
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.buttonAddSneak {
  width: 1065px;
  height: 70px;
  font-weight: 600;
  font-size: 18px;
}

.cardsFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
