.SneakerItemPage {
    display: flex;
    align-items: flex-start;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 1200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .SneakerPageImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
  }
  
  .SneakerPageImages img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .SneakerItemPageContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .SneakerItemPageDescription {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .SneakerItemPageDescription h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .SneakerItemPageDescription h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .SneakerItemPageDescription p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  .SneakerItemPageForBasket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .SneakerItemPageForBasket p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .add-to-cart-button, .like-button, .liked-button, .back-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
  }
  
  .add-to-cart-button:hover, .like-button:hover, .liked-button:hover, .back-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
  }
  
  .add-to-cart-button:focus, .like-button:focus, .liked-button:focus, .back-button:focus {
    outline: none;
    border-color: #333;
  }
  
  .add-to-cart-button img, .like-button img, .liked-button img {
    width: 20px;
    height: 20px;
  }
  
  button {
    background-color: transparent; 
    color: #26292c;
    border: 2px solid #cad4df; 
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #ced9e5; 
    color: #fff; 
    transform: translateY(-2px);
  }
  